%head
  %link{:href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
  %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
%body
  %br/
  .container
    %button.btn.btn-info.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", style: "float:right;"} + Add Request
    %br/
    %br/
    %br/
    #myModal.modal.fade{:role => "dialog"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h4.modal-title New Request
          .modal-body
            .row
              .col-md-6.col-md-offset-3
                %br/
                = form_tag("/users/new_request", method:'post', class: 'form-inline', role:"form", id: "mediLocus", enctype: "multipart/form-data") do    
                  Type of medicine
                  %select{:name => "medicine", :placeholder => "enter type of medicine",:required => ""}
                    %option{:value => ""} Select
                    %option{:value => 1} Antibiotics
                    %option{:value => 2} Pathogens
                    %option{:value => 3} Antipyretics
                    %option{:value => 4} Analgesics
                    %option{:value => 5} Tranquilizer
                    %option{:value => 6} Antiseptics
                  %br/
                  %br/
                  More details 
                  %textarea{:cols => "50", :rows => "4", :name => "details"}
                    :preserve
                  %br/
                  %br/
                  Upload Prescription
                  %br/
                  %br/
                  %input{type: "file", name: "prescription", :required => ""}
                  %br/
                  %input{type: "checkbox", name: "hd_status", id: "hd_status", value: '0'}/
                  Home Delivery
                  %br/
                  %br/
                  = submit_tag "Confirm", data: { disable_with: "Please wait..." }, class: "btn btn-danger"
          .modal-footer
            %button.btn.btn-primary{type: "button", "data-dismiss" => "modal"} Close
            

- i = 1
- if @requests.present?
  %table.table#findashboard
    %tr.fin_table_border
      %th{style: "text-align: center;"} Request no
      %th{style: "text-align: center;"} Medicine type
      %th{style: "text-align: center;"} Medicine details
      %th{style: "text-align: center;"} Prescription
      %th{style: "text-align: center;"} User
      %th{style: "text-align: center;"} Distance 
      %th{style: "text-align: center;"} Action

    - @requests.each do |r|
      %tr
        %td
          = i
        %td
          = Request::MEDICINE_TYPE_INVERT[r.medicine_type].to_s.camelize
        %td
          = r.medicine_detail
        %td
          - if r.picture?
            // = link_to image_tag({:alt => "prescription", :height => "42", :src => "#{r.picture.url}", :width => "42"}), :class=>'action', :onclick=>"showImage();return false;", :height => "42", :width => "42"
            %img{:alt => "prescription", :height => "42", :src => "#{r.picture.url}", :width => "42", :onclick => "showImage(#{r.id});return false;"}
          - else
            -
        %td
          = r.user.name
        %td
          = (Geocoder::Calculations.distance_between([current_user.latitude, current_user.longitude], [r.user.latitude, r.user.longitude])).round(2)
          km away
        %td
          %form{:action => "/users/add_bidding_value", :method => "get"}
            %input{:type => "hidden", :name => "requested_by",:value => "#{r.user.id}"}
            %input{:type => "hidden", :name => "accepted_by",:value => "#{current_user.id}"}
            %input{:type => "hidden", :name => "request",:value => "#{r.id}"}
            %input.btn.btn-success.stop{:type => "submit", :value => "Approve"} 
      - i += 1

:javascript
  function showImage(request_id) {
    var datum = {'id' : request_id}
    $.ajax({
      type: 'GET',
      url: '/users/show_prescription',
      data : {requestID: datum}
    })

    var auto = setTimeout(function(){ submitRedirect(); }, 300);
     function submitRedirect() {
         clearTimeout(auto);
         location.reload();
     }
  }
