- i = 1
- if @biddings_available.present?
  %table.table#findashboard
    %tr.fin_table_border
      %th{style: "text-align: center;"} SL. NO.
      %th{style: "text-align: center;"} Accepted by
      %th{style: "text-align: center;"} Bidding amount
      %th{style: "text-align: center;"} Estimated time of delivery
      %th{style: "text-align: center;"} Action

    - @biddings_available.each do |b|
      %tr
        %td
          = i
        %td
          = b.first.user.name
        %td
          = b.first.amount
        %td
          = b.first.delivery_time.strftime("%d-%m-%Y %H:%M")
        %td
          %form{:action => "/users/accept_bidding_value", :method => "get"}
            %input{:type => "hidden", :name => "request",:value => "#{b.first.request_id}"}
            %input{:type => "hidden", :name => "solved_by",:value => "#{b.first.user_id}"}
            %input.btn.btn-success.stop{:type => "submit", :value => "Approve"} 
        
          / %form{:action => "/", :method => "post"}
          /   %input{:type => "hidden", :name => "status",:value => "reject"}
          /   %input.btn.btn-danger.stop{:type => "submit", :value => "Reject"}
      - i += 1
