<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href= 'static_pages/home' >MediLocus</a>
    </div>
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My accepted requests",   '/users/biddings_available' %></li>
        <li><%= link_to "Dashboard",   '/users' %></li>
        <li><%= link_to "Help",   '#' %></li>

        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
